bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==6.7
DateTime==4.3
Flask==1.0
Flask-Bcrypt==0.7.1
Flask-Dance==3.3.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.18.2
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
oauthlib==3.1.0
Pillow==8.1.2
pycparser==2.18
PySocks==1.7.1
python-twitter==3.5
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.11.0
SQLAlchemy==1.2.7
SQLAlchemy-Utils==0.36.8
tweepy==3.10.0
urllib3==1.26.4
URLObject==2.4.3
Werkzeug==0.14.1
WTForms==2.1
zope.interface==5.3.0
