{% extends "layout.html" %}
{% block content %}
<style>
.content {
  max-width: 960px;
  margin: auto;
  margin-left: 50px;
  margin-right: -150px;
}
</style>
<body>
<div class="content">
	<h1> Connect </h1>
	<p> I'm always on the lookout for intersting projects and people! </p>
	<br>
	<p> <b> Email: </b> will.bwsc15@gmail.com </p>
	<p> <b> LinkedIn:</b> <a href="https://www.linkedin.com/in/will-khomtchenko">www.linkedin.com/in/will-khomtchenko</a> </p>
<!--	<p> <b> YouTube: </b> <a href="https://www.youtube.com/channel/UCNnPabwRwjkI3Mj2EAM-ndQ">https://www.youtube.com/channel/UCNnPabwRwjkI3Mj2EAM-ndQ</a> </p>
-->
	<p> <b> GitHub: </b> <a href="https://github.com/willchenko">https://github.com/willchenko</a> </p>
	
</div>
</body>
{% endblock content %}
