{% extends "layout.html" %}
{% block content %}
<style>
.content {
  max-width: 960px;
  margin: auto;
  margin-left: 50px;
  margin-right: -150px;
}
</style>
<body>
<div class="content">

	<h3> <b><u>Experience</u></b></h3>
		<h5> <b> University of Tennessee,</b> Knoxville, TN - <i> Research Assitant </i></h5>
		<p> May 2019 - April 2021 </p>
		<ul>
			<li> Increased speed of designing biocatalysts 100x, without sacrificing
efficiency, by using machine learning </li>
			<li> Increased speed of collecting pathway information 20x, while
increasing efficiency, by building a Python web app </li>
			<li> Safety Manager: 20% decrease in minor violations, while ramping up
production 100% </li>
		</ul>

		<h5> <b> BASF,</b> Chattanooga, TN - <i> Senior Design Project </i></h5>
		<p> August 2018- May 2019 </p>
		<ul>
			<li> Implemented new process to safely tote toxic polymer into shipping
containers, spending only 20% of allowed budget </li>
			<li> Ensured process met all OSHA and EPA standards </li>
		</ul>


		<h5> <b> Memorial Sloan Kettering,</b> New York, NY - <i> Computational Biologst Intern </i></h5>
		<p> May 2018 - August 2018 </p>
		<ul>
			<li> Used computer programming to find patterns of epigenetics and
tumor development in fruit flies, through analysis of large omics data </li>
		</ul>

		<h5> <b> University of Tennessee,</b> Chattanooga, TN - <i> Junior Design Project </i></h5>
		<p> August 2017- May 2018 </p>
		<ul>
			<li> Designed profitable process in CHEMCAD to annually produce
100,000 tons of cumene </li>
			<li> Made bill of materials and all process data charts </li>
			<li> Performed market forecasting for product </li>
		</ul>

		<h5> <b> University of Tennessee,</b> Chattanooga, TN - <i> Research Assistant </i></h5>
		<p> May 2017- May 2019 </p>
		<ul>
			<li> Created mutant <i>E. coli</i> to withstand higher temperatures </li>
			<li> Computationally designed a mutant <i> E. coli</i> to overproduce hydrogen peroxide</li>
			<li> Identified relationship between polyamines and potassium transporters in <i>Arabidopsis Thaliana</i> </li>
		</ul>

	<h3> <b><u>Eductation </u></b> </h3>

		<h5> <b> University of Tennessee,</b> Chattanooga, TN - <i> B.S. Chemical Engineering </i></h5>
		<p> August 2015 - May 2019                <b> GPA: 3.7 </b>  </p>
		<ul>
			<li> AICHE, Tau Beta Pi, StormWorks Team, UTC Urban Garden, Club Soccer Team </li>
		</ul>

		<h5> <b> University of Tennessee,</b> Knoxville, TN - <i> PhD Chemical Engineering </i></h5>
		<p> (August 2019 - April 2021)                <b> GPA: 3.5 </b>  </p>
		<ul>
			<li> Completed 2 years before exiting program. </li>
		</ul>


	
	<h3> <b><u>Other Projects</u></b> </h3>

		<h5> Algae Biofuel Project </h5>
		<p> Advisor: Dr. Sungwoo Yang; (January 2019 - May 2019)</p>
		<ul>
			<li> Enhanced growth of algae for production of lipids for biofuel. </li>
		</ul>

		<h5> Nanoparticle Project </h5>
		<p> Advisor: Dr. Soubantika Palchoudhury; (August 2018 - December 2018) </p>
		<ul>
			<li> Developed mathematical models in Python to predict absorbance of novel nanomaterials. </li>
		</ul>

		<h5> StormWorks Project </h5>
		<p> Advisor: Dr. Jejal Bathi; (August 2016 - May 2017) </p>
		<ul>
			<li> Collaborated with team members to make a Master Plan for UTC campus for better storm water management.  </li>
		</ul>



	<h3> <b><u>Teaching Experience</u></b> </h3>
<!--
		<h5> <b> YouTube Channel,</b> My page - <i> Python Instructor </i></h5>
		<p> April 2021 - Present <p>
		<ul>
			<li> Instructional videos on various python topics </li>
		</ul>
-->
		<h5> <b> University of Tennessee,</b> Chattanooga, TN - <i> Teaching Assistant </i></h5>
		<p> May 2017 - August 2017 <p>
			<ul>
			<li> Introdction to Chemistry II </li>
		</ul>


	<h3> <b><u>Volunteer Work</u></b> </h3>
		<h5> <b> UTC Urban Garden,</b> - <i> Gardener </i></h5>
		<p> May 2017- May 2019 </p>

		<h5> <b>  HITES Engineering Discovery Program,</b> - <i> Instructor </i></h5>
		<p> May 2019- August 2019 </p>

		<h5> <b> UTK Scholars Invitational,</b> - <i> Instructor </i></h5>
		<p> May 2019- August 2019 </p>

		<h5> <b>  Big Orange Preview,</b> - <i> Instructor </i></h5>
		<p> May 2019- August 2019 </p>

		<h5> <b> Special Friends Camp,</b> - <i> Camp Counselor </i></h5>
		<p> Summer 2015 </p>

	<h3> <b><u>Awards</u></b> </h3>
		<ul>
			<li>SEARCH Grant Recipient</li>
			<li>Best Poster Memorial Sloan Kettering Computational Biology Symposium 2018</li>
			<li>President's List Member</li>
			<li>HOPE Scholarship</li>
		</ul>

	<h3> <b><u>Engineering Skills</u></b> </h3>
	<ul>
		<li>Process engineering </li>
		<li>Chemical and Biological Safety </li>
		<li>PID Diagrams </li>
		<li>Project Management </li>
		<li>Computer Programming </li>
		<li>Continuous Improvement </li>
		<li>CHEMCAD</li>
		<li>LabView </li>
	</ul>

	<h3> <b><u>Programming Skills</u></b> </h3>
	<ul>
		<li>Python </li>
		<li>MATLAB </li>
		<li>Microsoft Office </li>
		<li>Git </li>
		<li>R </li>
		<li>Linux </li>
		<li>GitHub</li>
	</ul>

	<h3> <b><u>Soft Skills</u></b> </h3>
	<ul>
		<li>Problem Solving </li>
		<li>Creativity </li>
		<li>Communication</li>
		<li>Teamwork </li>
		<li>Work Ethic </li>
		<li>GRIT </li>
	</ul>

	</ul>


	

	
</div>
</body>
{% endblock content %}
